<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Login</title>
</head>
<body>
    <form method='post'>
        <br><br>
        User:   <input type="text" name="nome">
        <br><br>
        Senha: <input type="password" name="senha">
        <br><br><button type="submit">enviar</button>
    </form>
</body>
</html>